

<div class="container">
  <div class="row">
    <div class="col-md-12 hidden-xs hidden-sm">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title">Welcome to Instant Forecast!</h1>
        </div>
        <div class="panel-body">
          Use this app to check your location or check the weather!
        </div>
      </div>
    </div>

  </div>
</div>
