
<div class="container">
  <div class="row">
    <div class="col-md-3 hidden-xs hidden-sm">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title">Street   <i class="fa fa-arrow-right"></i>   Coords Results</h1>
        </div>

        <ul class="list-group">
          <li class="list-group-item"><label>Street Address: </label><p><%= @street_address %></p></li>
          <li class="list-group-item"><label>Latitude: </label><p><%= @latitude %></p></li>
          <li class="list-group-item"><label>Longitude: </label><p><%= @longitude %></p></li>
        </ul>
      </div>
    </div>
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title">Map</h1>
        </div>
        <div class="panel-body">
          <div class="embed-responsive embed-responsive-4by3">
            <iframe class="embed-responsive-item" src="<%= @map %>"></iframe>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

